.banner {
  width: 100%;
  position: relative;
}

.banner_content {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  padding: 7rem 0;
  i {
    svg {
      fill: $main_text_color;
    }
  }
}

.banner_image {
  max-width: 60%;
  object-fit: contain;
  max-height: 100%;
  margin: 0 auto;
}

.banner_info_section {
  * {
    font-family: Microsoft New Tai Lue, Roboto, sans-serif;
  }
  min-width: 610px;
  margin-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .banner_title_block {
    font-size: 6rem;
    line-height: 6rem;
    i {
      svg {
        height: 5rem;
        width: auto;
        margin-left: 1.5rem;
        transform: translateY(2%);
      }
    }
  }

  .banner_text_block {
    display: flex;
    align-items: center;
    font-size: 2.5rem;
    color: $gray;
    .dash {
      font-weight: 700;
      font-size: 4rem;
      margin: 0 1.5rem;
    }
  }
  .banner_link_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-top: 2rem;
    .cities {
      font-size: 3.5rem;
      text-transform: uppercase;
      display: flex;
      gap: 2rem;
    }
  }
}
