.carousel {
  display: grid;
  grid-template-columns: 120px 1fr;
  gap: 50px;
  align-items: center;
}

.carousel-main {
  max-width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.carousel-main-img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  cursor: pointer;
}

.carousel-thumbnails {
  cursor: grab;
  padding-right: 1rem;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  gap: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  // justify-content: center;
  max-height: calc(4 * (100px + 1rem) - 1rem);
  transition: overflow-y 0.3s;
}

.carousel-thumbnails.active {
  cursor: grabbing;
}
.carousel-thumbnails:hover {
  overflow-y: auto;
}
/* Стилізація скролу для браузерів на основі Webkit */
.carousel-thumbnails::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.carousel-thumbnails::-webkit-scrollbar-thumb {
  background-color: $light_gray; /* колір "рухомої" частини скролу */
  border-radius: 5px; /* закруглення країв */
}

.carousel-thumbnails:hover::-webkit-scrollbar-thumb {
  background-color: #b1b1b1; /* колір "рухомої" частини скролу при наведенні */
}

.carousel-thumbnail {
  max-width: 100%;
  height: auto;
  object-fit: cover;
  opacity: 0.5;
}
.carousel-thumbnail.active {
  opacity: 1;
}

.carousel.horizontal {
  grid-template-columns: 1fr;
  gap: 0;
  justify-items: center;
  .carousel-thumbnails {
    padding-right: 0;
    grid-template-rows: none;
    overflow-y: hidden;
    overflow-x: auto;
    grid-auto-flow: column;
    grid-auto-columns: 30.3%;
    justify-items: center;
    align-items: center;
    // max-width: calc(4 * (100px + 20px) - 20px);
    max-width: 80%;
    order: 2;
    max-height: none;
  }
  .carousel-thumbnails:hover {
    overflow-y: hidden;
  }
}

// FULL SCREEN IMAGE CAROUSEL start

/* Сховайте всі зображення за винятком активного */
.full-screen-carousel-wrapper {
  display: none;
  position: fixed;
  // opacity: 0;
  // visibility: hidden;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4000;
}

.full-screen-carousel {
  // position: relative;
  object-fit: contain;
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-screen-carousel-item {
  display: none;
  max-width: 100%;
  height: auto;
  max-height: 100vh;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.full-screen-carousel-item.active {
  display: block;
}

.full-screen-carousel-button {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  svg {
    width: 5rem;
    height: 5rem;
  }

  color: #fff;
  cursor: pointer;
  outline: none;
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}
.dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: 15px;
  height: 30px;
}

.dot-button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 1px solid #fff;
  background-color: #ccc;
  cursor: pointer;
}

.dot-button.active {
  background-color: #275929; /* Зелений */
  width: 18px;
  height: 18px;
}
.full-screen-carousel-close {
  position: fixed;
  width: 35px;
  height: 35px;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.full-screen-carousel-wrapper.open {
  display: flex;
  position: fixed;
}

@media (max-width: 1199.5px) {
  .full-screen-carousel-button {
    svg {
      width: 3rem;
      height: 3rem;
    }
  }
}
@media (max-width: 767.5px) {
  .carousel {
    grid-template-columns: 1fr;
    gap: 0;
    justify-items: center;
    .carousel-thumbnails {
      padding-right: 0;
      grid-template-rows: none;
      overflow-y: hidden;
      overflow-x: auto;
      grid-auto-flow: column;
      grid-auto-columns: 30.3%;
      justify-items: center;
      align-items: center;
      // max-width: calc(4 * (100px + 20px) - 20px);
      max-width: 80%;
      order: 2;
      max-height: none;
    }
    .carousel-thumbnails:hover {
      overflow-y: hidden;
    }
  }
  .full-screen-carousel-item {
    max-width: 100%;
  }
  .full-screen-carousel-button {
    display: none;
  }
  .left {
    left: 30%;
  }
  .right {
    right: 30%;
  }
}
@media (min-width: 768px) {
  .dots-container {
    display: none;
  }
}

// FULL SCREEN IMAGE CAROUSEL end
