header {
  // box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header_content {
  font-size: 1.5rem;
  color: #fff;
  position: sticky;
  flex: 0 0 100%;
  align-items: center;
  top: -1px;
  z-index: 999;
  box-shadow: 0px 6px 6px -7px rgba(0, 0, 0, 0.2);
  display: flex;

  svg {
    fill: $dark_bg;
    height: 5rem;
    width: auto;
  }
  & .button_mobimenu_container {
    margin-right: 1.9rem;
  }
  .button_mobimenu_icon {
  }

  & .logo {
    display: flex;
    height: 50px;
    width: 50px;
    img {
      max-height: 50px;
      max-width: 56px;
    }
  }
  .header_nav {
    flex: 5;
  }

  & .nav_menu {
    display: flex;
    color: $dark_bg;
    width: 100%;
    justify-content: center;
    padding: 0px;
    margin: 0px;
    height: 9rem;
    list-style: none;
    appearance: none;

    .menu-item {
      font-size: 2rem;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;

      & > a {
        padding: 0 2rem;
        display: flex;
        align-items: center;
        height: 100%;
      }
      // &:hover ~ .hover_block {
      //   opacity: 1;
      //   visibility: visible;
      // }
      // &:focus ~ .hover_block {
      //   opacity: 1;
      //   visibility: visible;
      // }

      // &:hover .sub-menu {
      //   opacity: 1;
      //   visibility: visible;
      // }
      // &:focus .sub-menu {
      //   opacity: 1;
      //   visibility: visible;
      // }
    }
    & .sub-menu {
      display: grid;
      align-items: start;
      grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
      opacity: 0;
      visibility: hidden;
      overflow: auto;
      color: $main_text_color;
      box-shadow: 0px 6px 6px -7px rgba(0, 0, 0, 0.2);

      position: absolute;
      top: 9rem;
      left: 0;
      width: 100%;
      max-height: 80vh;
      transition: opacity 300ms ease-in-out 0s;
      z-index: 5;
      opacity: 0; // Початково блок невидимий
      transition: opacity 0.3s; // Додамо плавний перехід для видимості
      padding: 2.86rem 2.29rem;
      max-height: 80vh;
      background-color: #fff;

      // &:hover,
      // &:focus-within {
      //   opacity: 1;
      //   visibility: visible;
      // }
      .sub-menu-item {
        font-size: 16px;
        & > a {
          display: block;
          font-weight: 500;
        }
        padding: 1rem 1rem 0;
        .sub-menu {
          position: inherit;
          box-shadow: none;
          padding: 1rem 0;
        }
        .sub-menu-subitem {
          padding: 5px 0;
        }
      }
    }
    .menu-item.open {
      & > a {
        color: $hover_blue;
      }
      .sub-menu {
        opacity: 1;
        visibility: visible;
      }
    }

    .toggle_menu {
      align-items: center;
      height: 100%;
      .icon {
        height: 30px;
        width: 30px;
        transform: rotate(-90deg);
      }
    }
  }
  .icons_container {
    position: absolute;
    right: 0;
    background-color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: auto;
    &.open {
      padding: 0 0 0 3rem;
    }
    .soc_link {
      display: none;
      align-items: center;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.2s, visibility 0.2s;
    }
    &.open .soc_link {
      display: flex;
      // justify-content: center;
      // align-items: center;
      opacity: 1;
      visibility: visible;
    }
    .toggle_icons {
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        fill: #d53200;
        width: 24px;
        height: 24px;
      }
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease-out;
      transform: rotate(90deg);
    }

    .icon {
      transition: transform 0.3s ease-out;
      height: 24px;
      width: 24px;
      fill: $dark_bg; // Колір іконки. Змініть на ваш колір.
      &:hover {
        fill: $hover_blue;
        transform: scale(1.1);
      }
      &.youtube {
        height: 30px;
        width: 30px;
      }
      &.google {
        width: 34px;
        height: 34px;
      }
    }
  }
  @media (max-width: 991.5px) {
    .icons_container {
      position: inherit;
    }
  }

  @media (max-width: 767.5px) {
    .icons_container {
      .soc_link {
        // display: flex;
        // opacity: 0;
        // visibility: hidden;
        // transition: opacity 0.3s, visibility 0.3s;
      }

      // &.open .soc_link {
      //   // display: flex;
      //   // justify-content: center;
      //   // align-items: center;
      //   opacity: 1;
      //   visibility: visible;
      // }
    }
  }
  @media (max-width: 479.5px) {
    .icons_container {
      &.open {
        position: absolute;
        justify-content: center;
        background-color: #fff;
        width: 100%;
        padding: 2rem 0;
      }
      &.open .toggle_icons .icon {
        // fill: #fff;
      }

      .soc_link {
        .icon {
          // width: 25px;
          // height: 25px;
          // fill: #fff;
        }
      }
      .soc_link.insta {
        .icon {
          // fill: #fff;
          // background-color: #fff;
          // padding: 1px;
          // border-radius: 4px;
          // width: 23px;
          // height: 23px;
        }
      }
    }
  }
  @media (max-width: 1199.5px) {
    .nav_menu .menu-item {
      font-size: 1.5rem;
    }
  }
}
