header {
  // box-shadow: 0px 0px 17px rgba(0, 0, 0, 0.1), 0 2px 10px rgba(0, 0, 0, 0.1);
}
.header_content {
  font-size: 1.5rem;
  color: #fff;
  position: sticky;
  flex: 0 0 100%;
  align-items: center;
  top: -1px;
  z-index: 1000;

  display: flex;

  svg {
    fill: $dark_bg;
    height: 5rem;
    width: auto;
  }
  & .button_mobimenu_container {
    margin-right: 1.9rem;
  }
  .button_mobimenu_icon {
  }

  & .logo {
    display: flex;
    height: 50px;
    width: 50px;
    img {
      max-height: 50px;
      max-width: 56px;
    }
  }
  .header_nav {
    flex: 5;
  }
  & .nav_menu {
    display: flex;
    color: $dark_bg;
    width: 100%;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    height: 9rem;
    list-style: none;
    appearance: none;
    position: relative;
    li {
      flex: 1;
    }
    &__item {
      font-size: 2rem;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      &:hover ~ .hover_block {
        opacity: 1;
        visibility: visible;
      }
      &:focus ~ .hover_block {
        opacity: 1;
        visibility: visible;
      }
    }
    & .hover_block {
      opacity: 0;
      overflow: hidden;
      border-radius: 18px;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 8px 18px 0px;
      visibility: hidden;
      position: absolute;
      top: 9.1rem;
      left: 0;
      width: 100%;
      max-height: 80vh;
      transition: opacity 300ms ease-in-out 0s;
      z-index: 5;
      opacity: 0; // Початково блок невидимий
      transition: opacity 0.3s; // Додамо плавний перехід для видимості

      &:hover,
      &:focus-within {
        opacity: 1; // Коли курсор миші наведено на блок або фокус в межах блоку
        visibility: visible;
      }
    }
    & .sub_menu {
      color: $main_text_color;
      border-radius: 18px;

      margin-top: 1.9rem;
      padding: 2.86rem 2.29rem;
      max-width: 100%;
      max-height: 100%;

      z-index: 5;
      background-color: #fff;

      display: grid;
      align-items: start;
      grid-template-columns: repeat(
        auto-fill,
        minmax(15rem, 1fr)
      ); // Це створює колонки, які мають принаймні 15rem завширшки, але розширяться, щоб заповнити доступний простір, якщо можливо.
      gap: 3rem; // Відстань між рядами та колонками.
      overflow-y: auto;
      & ul {
        padding-left: 0;
        display: block;
        & li {
          padding-left: 2rem;
          &:first-child {
            background-color: #e6e6e6; /* Сірий колір фону */
            font-weight: 500; /* Жирний шрифт */
            padding: 5px 10px; /* Внутрішній відступ */
            border-top-left-radius: 4px; /* Заокруглення кутів */
            border-top-right-radius: 4px;
            font-size: 1.22rem;
          }
          & + li {
            margin-top: 0.58rem;
          }
          & a {
            display: inline-block;
            width: 100%;
          }
        }
      }
    }
  }
  .icons_container {
    display: flex;
    gap: 2rem;
    margin-left: auto;
    .toggle_icons {
      display: none;
      width: 30px;
      height: 30px;
      background-color: $dark_bg;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      transition: transform 0.3s ease-out;
      transform: rotate(90deg);
      .icon {
        fill: #fff;
        width: 24px;
        height: 24px;
        &:hover {
          fill: #fff;
        }
      }
    }

    .icon {
      transition: transform 0.3s ease-out;
      height: 30px;
      width: 30px;
      fill: $dark_bg; // Колір іконки. Змініть на ваш колір.
      &:hover {
        fill: $hover_blue;
        transform: scale(1.1);
      }
    }

    a:hover .icon {
      // Тут можна додати стилі для зміни вигляду іконок при наведенні
    }
  }
  @media (max-width: 767.5px) {
    .icons_container {
      .soc_link {
        display: none;
      }

      .toggle_icons {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &.open .soc_link {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(-100%);
      }
    }
  }
  @media (max-width: 479.5px) {
    .icons_container {
      &.open {
        position: absolute;
        justify-content: end;
        background-color: $dark_bg;
        width: 100%;
        padding: 2rem;
      }

      .icon {
        width: 25px;
        height: 25px;
        fill: #fff;
      }
    }
  }
}
