.d-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-around {
  justify-content: space-around;
}
.flex-direction-column {
  flex-direction: column;
}
.d-none {
  display: none !important;
}
.m-auto {
  margin: auto;
}
.text-center {
  text-align: center;
}
.white-bg {
  background-color: #fff;
}
.dark-blue-text {
  color: #26476d;
}
.coral-color-text {
  color: #d57f08;
}
.dark-coral-color-text {
  color: #b62c31;
}
.orange-color-text {
  color: #d53200;
}
.bold {
  font-weight: 700 !important;
}
