.grey {
  background-color: rgb(65, 74, 76);
}
.silver {
  background-color: rgb(238, 239, 241);
}
.blue {
  background-color: #436397;
}
.green {
  background-color: #a1c964;
}
.blanco-estrella {
  background-color: #f0e4d3;
}
.medianoche {
  background-color: #2e3642;
}
.gris_espacial {
  background-color: #7d7e80;
}
.plata {
  background-color: #e3e4e6;
}
