.content_wrapper {
  .product_content {
    margin: 0;

    .product_selection {
      gap: 1.5rem;
      .guarantee {
        margin-bottom: 0;
      }
      .color_selection {
        justify-content: start;
        width: 100%;
        .color_choice {
          cursor: pointer;
          &:hover {
            background-image: linear-gradient(
              to right bottom,
              rgba(255, 255, 255, 0.25),
              rgba(0, 0, 0, 0.125)
            );
          }
          &__active {
            display: flex;

            box-shadow: rgb(86, 141, 254) 0px 0px 0px 1px;
          }
          &__out-of-stock {
            border: 2px solid #ffffff;
            cursor: pointer;

            box-shadow: 0 0 0 1px #dadada;
            &::after {
              content: "";
              border-radius: 0.8rem;
              background-color: #dadada;
              width: 0.1rem;
              height: 150%;
              position: absolute;
              top: -0.5rem;
              left: 50%;
              -webkit-transform: rotate(45deg);
              -ms-transform: rotate(45deg);
              transform: rotate(45deg);
            }
          }
        }
      }
      .variant_selection {
        gap: 1.5rem;
        justify-content: start;
        width: 100%;
      }
      .price_section {
        padding-left: 16px;
        width: 100%;
        justify-content: start;
        .baseprice {
          font-size: 2.8rem;
        }
      }
    }
  }
}
// CATALOG CONTENT START
.content {
  padding-bottom: 4rem;
  padding-top: 4rem;
}
.content_wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

.star_feedback {
  display: none;
}
.product_code {
  color: $gray;
}
.code_item {
  margin-left: 0.5rem;
}
.raiting {
  svg {
    fill: rgba(255, 239, 19, 0.954);
    margin-right: 5px;
  }
}

.content_items {
  display: grid;
  grid-template-columns: 1fr;
}
.content_item {
  display: grid;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1), 0 0px 0px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 4rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
  position: relative;
  & *:nth-child(3) {
    grid-column: 1 / span 2;
  }

  & > * {
    z-index: 3;
  }

  // & > .low-z-index {
  //   z-index: 0;
  // }

  // position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(50%, -50%);
    opacity: 0;
    background-color: #fafafa;
    width: 0px;
    height: 0px;
    transition: all 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
    /* border-radius: 50%; */
    z-index: 2;
  }
  &:hover::before {
    width: 300%;
    height: 300%;
    opacity: 1;
  }
  .content_code_item {
    color: $gray;
  }
  a {
    color: inherit;
  }
  .item_title {
    font-size: 2.2rem;
    line-height: inherit;
    margin-bottom: 0;
  }
  .item_img {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    img {
      max-width: 100%;
      height: auto;
      object-fit: contain;
    }
  }
  .item_price {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.2rem;
    text-align: center;
  }
  .item_btn_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 0 2rem;
    align-items: center;
  }
}

// CATALOG CONTENT END
.content_wrapper .variant_block {
  cursor: pointer;
  font-size: 14px;
  padding: 0.5rem 1.6rem;
  &:hover {
    border-color: $hover_blue;
    transition: all 300ms linear 0s;
  }
  &.active {
    border: 1px solid $hover_blue;
    color: $hover_blue;
  }
  &.unavailable {
    color: $gray;
    &::after {
      content: "";
      border-radius: 0.8rem;

      background-color: rgb(218, 218, 218);
      width: 0.1rem;
      height: 140%;
      position: absolute;
      top: -20%;
      left: 50%;
      transform: rotate(45deg);
    }
  }
}
.order_section {
  .text_section {
    font-size: 16px;
  }
}
@media (max-width: 991.5px) {
  .content_items .content_item {
    grid-template-columns: 1fr 2fr;
  }
  .text_section {
    font-size: 14px;
  }
}

@media (max-width: 767.5px) {
  .content_item {
    grid-template-columns: 1fr;
    & > * {
      grid-column: 1 / -1;
    }
  }
  .order_section {
    grid-template-columns: 1fr;
  }
  .item_section .content_wrapper .product_content .product_selection {
    align-items: center;
  }
  .item_section
    .product_content
    .product_selection
    .price-range
    .price_section {
    .recommend_title_container .pvpr_info {
      margin: 0 1rem 0 0.5rem;
      // width: 24px;
      // height: 24px;
    }
    .recommend_values {
      gap: 1rem;
    }
    .price-range {
      margin: 0;
    }
    .baseprice {
      font-size: 2.2rem;
    }
  }

  .recommend_price {
    font-size: 14px;
  }
  .discount_value {
    font-size: 12px;
  }
}
@media (max-width: 479.5px) {
  .item_section
    .product_content
    .product_selection
    .price-range
    .price_section {
    .baseprice {
      margin-right: 2rem;
      font-size: 2.5rem;
    }
    gap: 0;
  }
  .item_section .product_content .product_selection .color_selection {
    flex-wrap: wrap;
    span {
      // width: 100%;
    }
  }
}
