.item_title,
.catalog_group_name {
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-weight: normal;
}
.small_item_title {
  font-size: 1.4rem;
  line-height: 2.8rem;
  font-weight: 500;
}
.middle_title {
  font-size: 2.4rem;
  line-height: 3rem;
  font-weight: 500;
}
.big_title {
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 500;
}
.title_main_blog {
  font-size: 3.8rem;
  font-weight: 500;
  padding-bottom: 1rem;
}
.title_small_blog {
  font-weight: 500;
  font-size: 2rem;
  color: #1d1d1f;
  padding-bottom: 5px;
}
.title_color_blog {
  font-weight: 500;
  font-size: 2.9rem;
  margin: 3px 3px 13px 3px;
}
