$dark_bg: rgb(41, 36, 36);
$main_text_color: #292424;
$light_black: #545563;
$main_bg: #fafafa;
$gray: rgba(126, 126, 126, 1);
$light_gray: #f2f2f2;
$hover_blue: rgb(86, 141, 254);
$hover_light_blue: #80aeff;
$extra_light_gray: rgb(239, 239, 241);
